@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text&display=swap');
   
h1 {
    font-family: 'Stack Sans Text', sans-serif;
    font-weight: 800;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1280px) {
    html {
        font-size: 112.5%; /* 18px base font */
    }
}

@media (min-width: 1536px) {
    html {
        font-size: 125%; /* 20px base font */
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 137.5%; /* 22px base font */
    }
}